@pg1-bg-cl:		#FFFFFF;
@pg2-bg-cl:		#1889C5;
@pg3-bg-cl:		#50c5e4;
@pg4-bg-cl:		#22B573;
@pg5-bg-cl:		#4BBFC3;
@pg6-bg-cl:		lighten(#EE005A, 15%);
// @pg6-bg-cl:		#15BE41;
@ft-tl-cl: 		#000000;
@ft-ct-cl: 		#ffffff;
@nv-cl: 		#42474B;

@link-ho: 		#9C58B6;
// 标题
// @pg1-bg-cl:     #FFFFFF;
// @pg2-bg-cl:     #15BE41;
// @pg3-bg-cl:     #EE005A;
// @pg4-bg-cl:     #CE52CF;
// @pg5-bg-cl:     #3399CC;
// @pg6-bg-cl:     #81D2D5;
// @pg7-bg-cl:     #4BBFC3;
// #BCDA10

// #F34D8B
// #4BBFC3
// #D32727
// #868686
//单页背景
// .page(6);
// .page(@n,@i:1) when (@i<=@n){
// 	.page@{i}{
// 		background-color: #EE005A;
// 	}
// 	.page(@n,(@i+1));
// }


.page1{
	background-color: @pg1-bg-cl;
}
.page2{
	background-color: @pg2-bg-cl;
}
.page3{
	background-color: @pg3-bg-cl;
}
.page4{
	background-color: @pg4-bg-cl;
}
.page5{
	background-color: @pg5-bg-cl;
}
.page6{
	background-color: @pg6-bg-cl;
}
//导航栏背景
#nav{
	background-color: @nv-cl;
}