ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1 {
  padding: 10px 10px;
  margin: 0 0 10px 0;
}
h2 {
  padding: 10px 10px;
  margin: 0 0 10px 0;
}
h3 {
  padding: 10px 10px;
  margin: 0 0 10px 0;
}
h4 {
  padding: 10px 10px;
  margin: 0 0 10px 0;
}
h5 {
  padding: 10px 10px;
  margin: 0 0 10px 0;
}
h6 {
  padding: 10px 10px;
  margin: 0 0 10px 0;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: #9c58b6;
}
.center {
  text-align: center;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#pp-nav span,
.pp-slidesNav span {
  width: 6px;
  height: 6px;
}
.page1 {
  background-color: #4afa78;
}
.page2 {
  background-color: #559adc;
}
.page3 {
  background-color: #c96af3;
}
.page4 {
  background-color: #df7d66;
}
.page5 {
  background-color: #facf44;
}
h1 {
  color: #f0f8ff;
}
#nav {
  background-color: #42474b;
}
body {
  font: 400 1.1em/1.7 'LatoLatinBlack', "Microsoft YaHei", sans-serif;
}
#nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 40px;
}
#nav .name {
  display: inline-block;
  width: 20%;
  text-align: right;
  line-height: 40px;
}
#nav ul {
  width: 55%;
  float: right;
  display: block;
  zoom: 1;
}
#nav ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#nav li {
  float: left;
  margin: 0 2%;
  line-height: 40px;
}
